/* Colors */
@define-color bg_color rgba(32, 32, 32, 0.5);

@define-color input_color #fff;
@define-color input_bg_color rgba(32, 32, 32, 0.5);

@define-color input_color_focus #fff;
@define-color input_bg_color_focus rgba(32, 32, 32, 0.5);

@define-color entry_color #bbb;
@define-color entry_bg_color transparent;

@define-color entry_color_selected #fff;
@define-color entry_bg_color_selected rgba(32, 32, 32, 0.5);

#window {
    /* font-family: 'Noto Sans Mono'; */
    background-color: @bg_color;
    border-radius: 0.5rem;
}

scrolledwindow undershoot.top,
scrolledwindow undershoot.bottom {
    background-image: none;
}

#outer-box {
    margin-bottom: 2rem;
}

#input {
    margin: 2rem;
    background-color: @input_bg_color;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: @input_color;
    border-radius: 0.5rem;
    border: 2px solid @input_bg_color;
}

#input image {
    padding-right: 1rem;
}

#input:focus {
    background-color: @input_bg_color_focus;
    color: @input_color_focus;
    border-color: #009ddc;
}

/*#input, #input:focus {
    border: none;
}*/

#entry {
    background-color: @entry_bg_color;
}

#entry label {
    color: @entry_color;
}

#entry:selected {
    background-color: @entry_bg_color_selected;
    outline: none;
}

#entry:selected label {
    color: @entry_color_selected;
}

flowboxchild {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 2rem;
}

flowboxchild label {
    padding-left: 1rem;
    font-size: 1.5rem;
}

